/node_modules
/dist
/coverage
.env
*.env
*.env.*
/.env
.env.*
.env.
!.env.template

.DS_Store

infra/**/*.tfstate
infra/**/*.tfstate.backup
infra/**/.terraform/
*.tfvars
*.tfvars.*
*.tfstate
*.tfstate.backup
*.tfvars.json

/clockit_backup_*.csv